{% extends 'student/base.html' %}

{% block title %}
    index
{% endblock title %}
    

{% block body %}
    <h1>welcome to Student's schlool</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, corrupti. Sint maxime cum recusandae earum mollitia. Facilis ab, nulla at culpa sapiente quod commodi magni ipsam magnam praesentium. Inventore, delectus!</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsum vitae consequatur neque id voluptas quidem cumque. Pariatur tenetur vel quas. Veritatis animi quis cumque voluptatibus eum sint quo voluptatum?</h3>
{% endblock body %}
    